body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: black;
    color: white;
}
body.light-mode {
    background-color: white;
    color: black;
}
