body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
button{
  margin-top: 10px;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;   
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}

#pagination button {
  margin: 0 5px;
  padding: 7px 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid #007BFF;
  color: #007BFF;
}

#pagination button.active {
  background-color: #007BFF;
  color: white;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}